<div class="row">
    <div class="col-md-4" *ngFor="let currency of currencies">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ currency.symbol }}</h5>
                
                    <!--  using ICryptocurrency add all details with properties   available_exchanges: string[];
    currency_base: string;
    currency_quote: string; -->
                    <strong>Base:</strong> {{ currency.currency_base }}<br>
                    <strong>Quote:</strong> {{ currency.currency_quote }}<br>
                    
                    <strong>Available Exchanges:</strong> 
                    <!-- use ngfor for {{ currency.available_exchanges }} -->
                    <ul>
                        <li *ngFor="let exchange of currency.available_exchanges">
                            {{ exchange }}
                        </li>
                    </ul>
                    <!-- add button with action add to wishlist -->
                    <button class="btn btn-primary" (click)="addToWishlist(currency)">Add to Wishlist</button>
            </div>
        </div>
    </div>
</div>